{% extends 'app/base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-xs-12 col-md-4 text-center box-login center">
      <h3>Entre com seu usuário e senha</h3>
      <form class="login" method="POST"> 
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-4"></div>
  </div>
</div>

<style>
body {
  background-image: url('../../static/images/books.jpg');
  background-size: cover;
  backdrop-filter: blur(5px);
}
</style>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
  $('form input').addClass('form-control');
  $("#id_username").attr('placeholder', '{{form.username.label}}');
  $("#id_password").attr('placeholder', '{{form.password.label}}');
})
</script>
{% endblock %}