.navbar {
    background-color: #CC1836;
    color: #fff;
    /* margin-top: 0;
    padding: 20px 20px 20px 40px; */
}

.navbar-brand, .dropdown-toggle,
.navbar-brand:hover, .dropdown-toggle:hover {
    color: #fff;    
}

.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    color: #fff;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 16pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3 {
    font-family: 'Oldenburg', cursive;
}

 h4 {
    font-family: 'Oldenburg', cursive;
    font-size: 14pt;
}

p {
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.book-form textarea, .book-form input {
    width: 100%;
    height: 250px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 20px;
}

.book {
    margin-bottom: 70px;
    height: 250px;
}

.book img {
    width: 100px;
}

.book h2 a, .book h2 a:visited {
    color: #000000;
}

.rateitems {
   padding-left: 5px;
   height: 450px;
   overflow-y: scroll;
}

.border-box {
   padding: 5px;
}

.btn-warning {
   color: white;
   font-size: 120%;
}