{% extends 'app/base.html' %}

{% block content %}
{{ sucesso }}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary">Buscar Recomendações</button>
            <br/><br/>
        </div>
    {% for book in books %}
         <div class="book col-xs-12 col-md-3">
            <img src='{{ book.image_url }}' class='img-fluid' width="200" height="150"/>
            <h4>{{ book.title }}</h4>
            <p>{{ book.authors }}</p>
            <p>Ano: {{ book.year }}</p>
            <p>{{ book.text|linebreaksbr }}</p>
            <form action="." method="POST">
                 {% csrf_token %}
                 <input type="text" value="{{ book.id }}" id="{{ form.book.id_for_label }}_{{ book.id }}" name="{{ form.book.name }}">
                 <!-- <select name="{{ form.rating.name }}" id="{{ form.rating.id_for_label }}_{{ book.id }}">
                 {{ form.rating.options }}
                 </select> -->
                 {{ form.rating }}
            </form>
        </div>
    {% endfor %}
    </div>    
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        // esconde o campo de id dos livros
        $('[id^="id_book_"]').hide();
    });

    $('form').on('change', function(e) {
        e.preventDefault();
        $(this).submit();
    });
</script>

{% endblock %}